#page1{
    background: lightgreen;
}
#page2{
    background: lightgreen;
}

#pageHeader1{
    font-size: 30pt;
    font-family: "Times New Roman", monospace;
    background: forestgreen;
    color: darkblue;
}
#pageHeader2{
    font-size: 30pt;
    font-family: "Times New Roman", monospace;
    background: forestgreen;
    color: darkblue;
}

#tilden{
    position: absolute;
    top: 25%;
    left: 5%;
}
#redwood{
    position: absolute;
    top: 25%;
    left: 5%;
}
#wildcat{
    position: absolute;
    top: 25%;
    left: 5%;
}
#claremont{
    position: absolute;
    top: 25%;
    left: 5%;
}

#tildenInfo{
    position: absolute;
    top: 25%;
    left: 38%;
}
#redwoodInfo{
    position: absolute;
    top: 25%;
    left: 38%;
}
#wildcatInfo{
    position: absolute;
    top: 25%;
    left: 38%;
}
#claremontInfo{
    position: absolute;
    top: 25%;
    left: 38%;
}

#fungiButton{
    height: 100px;
    width: 200px;
    background: darkgreen;
    border-color: black;
    color: white;
    position: absolute;
    top: 62%;
    left: 55%;
}
#plantsButton{
    height: 100px;
    width: 200px;
    background: darkgreen;
    border-color: black;
    color: white;
    position: absolute;
    top: 62%;
    left: 72%;
}
#birdsButton{
    height: 100px;
    width: 200px;
    background: darkgreen;
    border-color: black;
    color: white;
    position: absolute;
    top: 75%;
    left: 55%;
}
#mammalsButton{
    height: 100px;
    width: 200px;
    background: darkgreen;
    border-color: black;
    color: white;
    position: absolute;
    top: 75%;
    left: 72%;
}