#page1{
    background: lightgreen;
}
#page2{
    background: lightgreen;
}
#page3{
     background: lightgreen;
}



#pageHeader1{
    font-size: 30pt;
    font-family: "Bauhaus 93", monospace, bold;
    background: forestgreen;
    color: darkblue;
}
#pageHeader2{
    font-size: 30pt;
    font-family: "Bauhaus 93", monospace;
    background: forestgreen;
    color: darkblue;
}
#pageHeader3{
    font-size: 30pt;
    font-family: "Bauhaus 93", monospace, bold;
    background: forestgreen;
    color: darkblue;
}

#tilden{
    position: absolute;
    top: 25%;
    left: 5%;
    border: 2px solid black;
}
#redwood{
    position: absolute;
    top: 25%;
    left: 5%;
    border: 2px solid black;
}
#wildcat{
    position: absolute;
    top: 25%;
    left: 5%;
    border: 2px solid black;
}
#claremont{
    position: absolute;
    top: 25%;
    left: 5%;
    border: 2px solid black;
}

#tildenInfo{
    position: absolute;
    top: 25%;
    left: 37.25%;
    font-size: 17pt;
    font-family: "Times New Roman", monospace;
}
#redwoodInfo{
    position: absolute;
    top: 25%;
    left: 37.25%;
    font-size: 17pt;
    font-family: "Times New Roman", monospace;
}
#wildcatInfo{
    position: absolute;
    top: 25%;
    left: 37.25%;
    font-size: 17pt;
    font-family: "Times New Roman", monospace;
}
#claremontInfo{
    position: absolute;
    top: 25%;
    left: 37.25%;
    font-size: 17pt;
    font-family: "Times New Roman", monospace;
}

#fungiButton{
    height: 50px;
    width: 150px;
    background: darkgreen;
    border-color: black;
    color: white;
    position: absolute;
    top: 75%;
    left: 70%;
}
#plantsButton{
    height: 50px;
    width: 150px;
    background: darkgreen;
    border-color: black;
    color: white;
    position: absolute;
    top: 75%;
    left: 85%;
}
#birdsButton{
    height: 50px;
    width: 150px;
    background: darkgreen;
    border-color: black;
    color: white;
    position: absolute;
    top: 85%;
    left: 70%;
}
#animalsButton{
    height: 50px;
    width: 150px;
    background: darkgreen;
    border-color: black;
    color: white;
    position: absolute;
    top: 85%;
    left: 85%;
}

table, td{
    border: 1px solid black;
    text-align: center;
    background-color: lightgrey;
}

th{
    border: 1px solid black;
    background-color: green;
    color: gold;
}