#page1{
    background: lightgreen;
}
#page2{
    background: lightgreen;
}
#page3{
     background: lightgreen;
}
#page4{
    background: lightgreen;
}

#pageHeader1{
    font-size: 30pt;
    font-family: "Bauhaus 93", monospace, bold;
    background: forestgreen;
    color: darkblue;
}
#pageHeader2{
    font-size: 30pt;
    font-family: "Bauhaus 93", monospace;
    background: forestgreen;
    color: darkblue;
}
#pageHeader3{
    font-size: 30pt;
    font-family: "Bauhaus 93", monospace, bold;
    background: forestgreen;
    color: darkblue;
}
#pageHeader4{
    font-size: 30pt;
    font-family: "Bauhaus 93", monospace, bold;
    background: forestgreen;
    color: darkblue;
}

#tilden{
    position: absolute;
    top: 25%;
    left: 5%;
    border: 2px solid black;
}
#redwood{
    position: absolute;
    top: 25%;
    left: 5%;
    border: 2px solid black;
}
#wildcat{
    position: absolute;
    top: 25%;
    left: 5%;
    border: 2px solid black;
}
#claremont{
    position: absolute;
    top: 25%;
    left: 5%;
    border: 2px solid black;
}

#tildenInfo{
    position: absolute;
    top: 25%;
    left: 37.25%;
    font-size: 17pt;
    font-family: "Times New Roman", monospace;
}
#redwoodInfo{
    position: absolute;
    top: 25%;
    left: 37.25%;
    font-size: 17pt;
    font-family: "Times New Roman", monospace;
}
#wildcatInfo{
    position: absolute;
    top: 25%;
    left: 37.25%;
    font-size: 17pt;
    font-family: "Times New Roman", monospace;
}
#claremontInfo{
    position: absolute;
    top: 25%;
    left: 37.25%;
    font-size: 17pt;
    font-family: "Times New Roman", monospace;
}

#fungiButton{
    height: 50px;
    width: 150px;
    background: darkgreen;
    border-color: black;
    color: white;
    position: absolute;
    top: 75%;
    left: 70%;
}
#plantsButton{
    height: 50px;
    width: 150px;
    background: darkgreen;
    border-color: black;
    color: white;
    position: absolute;
    top: 75%;
    left: 85%;
}
#birdsButton{
    height: 50px;
    width: 150px;
    background: darkgreen;
    border-color: black;
    color: white;
    position: absolute;
    top: 85%;
    left: 70%;
}
#animalsButton{
    height: 50px;
    width: 150px;
    background: darkgreen;
    border-color: black;
    color: white;
    position: absolute;
    top: 85%;
    left: 85%;
}

table, td{
    border: 1px solid black;
    text-align: center;
    background-color: lightgrey;
}

th{
    border: 1px solid black;
    background-color: green;
    color: gold;
}

/*The image*/
#hills{
    position: absolute;
    top: 380px;
    left: 670px;
    width: 630px;
    height: 323px;
}

#greenleaf{
    position: absolute;
    top: 380px;
    right: 0px;
    width: 200px;
    height: 200px;
}

#mountains{
    position: absolute;
    top: 380px;
    left: 670px;
    width: 630px;
    height: 323px;
}
/*The modal box ("About Us")*/
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    font-family: Serif;
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:100px;
    bottom: 20%;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid forestgreen;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: "Bauhaus 93", monospace;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    /*font-family: "Bauhaus 93", monospace;*/
    /*margin: 20px;*/
    position: absolute;
    margin-top: 100px;
    color: red;
    margin-left: 46%;
    display: inline-block;
    font-weight: bold;
}
/* Popup box BEGIN */

#fungiProtect{
    font-size: 17pt;
    font-family: "Times New Roman", monospace;
}
#plantsProtect{
    font-size: 17pt;
    font-family: "Times New Roman", monospace;
}
#birdsProtect{
    font-size: 17pt;
    font-family: "Times New Roman", monospace;
}
#animalsProtect{
    font-size: 17pt;
    font-family: "Times New Roman", monospace;
}